.btn:active {
  background-color: blue;
}

/* los que ancor que tiene un href */
a:any-link {
  color: yellowgreen;
}

/* cuando un input esta con el check puesto se pondra en rojo*/
input:checked {
  accent-color: red;
}

/*disable: esto es cuando el estado del botton esta deshabilitado*/

button:disabled {
  background-color: rgba(127, 255, 212, 0.477);
  color: rgba(165, 42, 42, 0.314);
}

/* enable: el estado que evalua es que este operativo el elemento html -button*/

button:enabled {
  background-color: green;
  color: white;
}

/* first-child*/

.ranking li:first-child {
  color: pink;
}

/*focus*/

input:focus {
  background-color: coral;
  outline: none;
  border: 1px solid green;
  color: blue;
}

/* hover -----> ponernos con el puntero encima del elemento*/

a:hover {
  background-color: red;
}

/* input:hover {
  background-color: blueviolet;
  transform: scale(1.5);
} */

/*invalid ---> no tiene un valor valido en un input */

input:invalid {
  outline: none;
  border: 1px solid red;
}

.movies > li:last-child {
  color: blue;
}

/* li:nth-child(1) {
  color: blueviolet;
} */

a:link {
  background-color: blue;
}

a:not(a:link) {
  background-color: black;
  color: red;
}

input:not(input:invalid) {
  background-color: rgb(239, 14, 224);
}

.alumnos li:nth-child(odd) {
  color: rgb(43, 226, 52);
}

.alumnos li:nth-child(even) {
  color: blueviolet;
}

.alumnos li:nth-last-child(2) {
  color: yellow;
}

/*apunta a los elementos que son hijos unicos*/
ul li:only-child {
  color: rgb(255, 28, 240);
}

input:read-only {
  border: 6px solid pink;
}

input:read-write {
  border: 6px solid goldenrod;
}

/* required ---> son obligatorios*/
input:required {
  background-color: black;
}


:root{
  font-family: sans-serif;
  --variable-primary: red
}


input{
  color: var(--variable-primary)
}

