* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --fondo: blue;
}

html {
  width: 100vw;
  min-height: 100vh;

  & body {
    width: 100vw;
    min-height: 100vh;

    & header {
      width: 100vw;
      height: 20vh;
      background-color: blueviolet !important;
    }

    & footer {
      width: 100vw;
      height: 10vh;
      background-color: rgb(15, 239, 75);
    }

    & main {
      width: 100vw;
      min-height: 70vh;
      background-color: brown;
    }
  }
}
