img {
  width: 800px;
  border-radius: 10px;
}

p {
  width: 300px;
  background-color: rgba(255, 255, 255, 0.899);
  text-align: justify;
  position: absolute;
  padding: 1rem;
  left: 600px;
  top: 50px;
  border: #fdb94c solid 3px;
  border-radius: 10px;
}

figure {
  position: relative;
  top: 100px;
}
