#containerHomePage {
  display: flex;

  padding: 2rem;
  margin-top: 20vh;
  flex-direction: column;
  width: 100vw;

  & input {
    margin: 2rem;
  }
}

#gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  align-content: center;
  justify-content: center;
}
