* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 1fr == 1 porcion */

.gallery {
    margin-top: 1rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 300px 300px 300px 300px;
    gap: 0.5rem;
    padding: 1rem;
}

.gallery img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.gallery > img:nth-child(1) {
    grid-column: 1/3;
}

.gallery > img:nth-child(2) {
    grid-column: 3/5;
    grid-row: 1/3;
}

.gallery > img:nth-child(5) {
    grid-column: 1/5;
}

.gallery > img:nth-child(7) {
    grid-column: 2/4;
}